# autotools - files
aclocal.m4
autom4te.cache
autoregen.sh
config.*
configure
libtool
INSTALL
Makefile.in
depcomp
install-sh
ltmain.sh
missing
stamp-*

# misc - files
*.tar.*
*~

# qt-creator - files
*.config
*.creator
*.creator.user
*.files
*.includes
